<div class="container">  
    <br><button (click)="onAjouterClick()" class="favorite styled" type="button"> Ajouter Fournisseur </button>
    <br><br><button (click)="onModifierClick()" class="favorite styled" type="button"> Modifier Fournisseur </button>
    <br><br><button (click)="onConsulterClick()"class="favorite styled" type="button"> Consulter Fournisseur </button>
    <br><br><button (click)="onSupprimerClick()"class="favorite styled" type="buton"> Supprimer Fournisseur </button>
  
  </div>
  <router-outlet></router-outlet>
