<div class="container">   
    <br><button (click)="onAjouterClick()" class="favorite styled" type="button"> Ajouter Produit </button>
    <br><br><button (click)="onModifierClick()" class="favorite styled" type="button"> Modifier Produit </button>
    <br><br><button (click)="onConsulterClick()"class="favorite styled" type="button"> Consulter Fiche Produit </button>
    <br><br><button (click)="onAfficherClick()" class="favorite styled" type="button"> Afficher Liste Entiere Des Produits </button>
    <br><br><button (click)="onAfficherFournisseurClick()"class="favorite styled" type="button"> Afficher Liste Produit Par Fournisseur </button>
    <br><br><button (click)="onAfficherLaboratoireClick()"class="favorite styled" type="button"> Afficher Liste Produit Par Laboratoire </button>
    <br><br><button (click)="onAfficherFamilleClick()"class="favorite styled" type="button"> Afficher Liste Produit Par Famille </button>
  </div>
  <router-outlet></router-outlet>
