<div class="container">  
    <br><button (click)="onAjouterClick()" class="favorite styled" type="button"> Ajouter Famille </button>
    <br><br><button (click)="onModifierClick()" class="favorite styled" type="button"> Modifier Famille </button>
    <br><br><button (click)="onSupprimerClick()"class="favorite styled" type="button"> Supprimer Famille </button>
    <br><br><form (click)="onListeClick()"><button class="favorite styled" type="submit"> Afficher La Liste Des Familles </button></form>
  
  </div>
  <router-outlet></router-outlet>
