
    <nav>
      <ul>
                     <li class="main"><a routerLink="/gererproduit">Gérer Produit</a></li>
                     <li class="main"><a routerLink="/gererfournisseur">Gérer Fournisseur</a>

                      <li class="main"><a routerLink="/gererlaboratoire">Gérer Laboratoire</a></li>
                      <li class="main"><a routerLink="/gererfamille">Gérer Famille</a></li>
                      <li class="main"><a routerLink="/ajouterfacture">Ajouter Facture</a></li>
                 </ul>
                 </nav>
                 <router-outlet></router-outlet>

