<div class="container">
    <h1> Ajouter une famille</h1>
    <form (ngSubmit)="ajouterFamille(fam)">
    <div class = "form-group">
    </div>
    
    <pre></pre>
    <div class = "form-group">
    <label for="nomf">Nom Famille</label> <br>
    <input  [(ngModel)]="fam.Lib_Famille"required type="text" name ="nomf" class="form-control">
    </div>
    <pre></pre>
    <button class="btn" type="submit">Ajouter</button>
    <button (click)="onAnnulerClick()" type="submit" class="btn btn-secondary">Annuler</button>
    </form>
    </div>
