<div class="container">
    <h1> Ajouter un produit</h1>
    <form (ngSubmit)="ajouterProduit(produit)">
    <div class = "form-group">
    </div>
    <pre></pre>
    <div class = "form-group">
    <label for="lib"> Libellé produit </label> <br>
    <input [(ngModel)]="produit.Lib_prd" required type="text" name ="lib" class="form-control" id="lib">
  
    </div>
    <pre></pre>
    <div class = "form-group">
    <label for="desc"> Description </label> <br>
    <input [(ngModel)]="produit.Description_prd" required type="text" name ="desc" class="form-control" id="desc" >
    </div>
    <pre></pre>
    <div class = "form-group">
    <label for="prx"> Prix </label> <br>
    <input [(ngModel)]="produit.Prix_prd" required type="number" name ="prx" class="form-control" id="prx" >
    </div>
    <pre></pre>
    <div class = "form-group">
    <label for="date"> Date Ajout </label> <br>
    <input [(ngModel)]="produit.DateAjout_prd" required type="date" name ="date" class="form-control" id="date" >
    </div>
    <pre></pre>
    <div class = "form-group">
    <label for="prix_l"> Prix livraison </label> <br>
    <input [(ngModel)]="produit.Prix_Livr" required type="number" name ="prix_l" class="form-control" id="prix_l" >
    </div>
    <pre></pre>
    <button type="submit" class="btn btn-primary">Ajouter</button>
    <button (click)="onAnnulerClick()" type="submit" class="btn btn-secondary">Annuler</button>
    </form>
    </div>
    
  <router-outlet></router-outlet>
