<div class="container">  
    <br><button (click)="onAjouterClick()" class="favorite styled" type="button"> Ajouter Laboratoire </button>
    <br><br><button (click)="onModifierClick()" class="favorite styled" type="button"> Modifier Laboratoire </button>
    <br><br><button (click)="onSupprimerClick()"class="favorite styled" type="button"> Supprimer Laboratoire </button>
    <br><br><form (click)="onListeClick()"><button class="favorite styled" type="submit"> Afficher La Liste Des Laboratoires </button></form>
  
  </div>
  <router-outlet></router-outlet>
