<div class="container">
    <h1> Modifier une laboratoire</h1>
    <form (ngSubmit)="modiferLaboratoire(lab,id)">
    <div class = "form-group">
    </div>
    <div class = "form-group">
    <label for="id">Id</label> <br>
    <input  [(ngModel)]="id"required type="number" name ="id" class="form-control">
    </div>
    <pre></pre>
    <div class = "form-group">
    <label for="nomf">Libelle Laboratoire</label> <br>
    <input  [(ngModel)]="lab.Lib_labo"required type="text" name ="nomf" class="form-control">
    </div>
    <pre></pre>
    <button class="btn" type="submit">Modifier</button>
    <button (click)="onAnnulerClick()" type="submit" class="btn btn-secondary">Annuler</button>
    </form>
    </div>
